{% extends 'base.html.twig' %}

{% block body %}
    <h1>Role creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('role_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
    </ul>
{% endblock %}
