<ul class="nav navbar-nav">
    <li><a href="{{ url('node_index', { }, true) }}">Node</a></li>
    <li><a href="{{ url('definition_index', { }, true) }}">Definitions</a></li>
    <li><a href="{{ url('user_index', { }, true) }}">User</a></li>
    <li><a href="{{ url('hit_index', { }, true) }}">Hits</a></li>
</ul>