<div id="dizionario" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dizionario</h3>
    </div>
    <div class="panel-body">
        <header>
            {% for i in 'a'|upper..'z'|upper %}
                <a href="{{ url('list_nodes', { 'letter': i, 'page': 1 }, true) }}"><span class="label label-default">{{ i }}</span></a>
            {% endfor %}
        </header>
        <footer>
            <a href="{{ url('list_bysymbol_nodes', { 'page': 1 }, true) }}">Vocaboli che iniziano con simboli</a>
        </footer>
    </div>
</div>