{% extends "base.html.twig" %}

{% block title %}Manifesto{% endblock %}

{% block body %}
<h1>Manifesto Brutta Storia</h1>
    <p>
        <em>Cari amici, Brutta Storia sta attraversando un momento di&nbsp;&nbsp;trasformazione; da progetto di &#39;gonzo-linguistica&#39;, sta cercando di&nbsp;&nbsp;trasformarsi in un sito che offre informazioni verificate: mi sembra&nbsp;&nbsp;l&#39;unico modo in cui pu&ograve; sopravvivere.&nbsp;&nbsp;Attualmente in questo repertorio&nbsp;&nbsp;si trovano anche contenuti obsoleti, riconducibili all&#39;iniziale spirito&nbsp;&nbsp;ludico con cui questo progetto &egrave; iniziato.&nbsp;&nbsp;Nonostante in qualche caso&nbsp;&nbsp;si tratti di materiale molto divertente, mi atterr&ograve; sempre a un&nbsp;&nbsp;principio scientifico: una alla volta sto controllando tutte le voci e&nbsp;&nbsp;procedo, in caso, ad aggiornare o cancellare. Non sar&agrave; una cosa breve.&nbsp;&nbsp;Il sito ha bisogno di un restauro anche dal punto di vista grafico e&nbsp;&nbsp;della usabilit&agrave;, per esempio una stringa di ricerca attraverso tag; sto&nbsp;&nbsp;cercando dei fondi per&nbsp;&nbsp;attuare i cambiamenti necessari e spero di&nbsp;&nbsp;potervi dare, nel giro di poco tempo, novit&agrave; a riguardo.</em></p>

    <p>&nbsp;</p>

    <p><strong>Manifesto di BRUTTASTORIA,<br />
            dizionario di linguaggi giovanili.</strong></p>

    <p>Brutta Storia &egrave; un dizionario di linguaggi e culture giovanili con definizioni scritte da voi e verificate dalla redazione. &Egrave; un progetto nato nel 2005 da un&#39;idea di Loris Righetto e si propone di costruire un repertorio linguistico in rete accogliendo testimonianze dal linguaggio giovanile; l&#39;italiano colloquiale; i gerghi delle sottoculture come l&#39;hip hop, la breakdance etc.; l&#39;italiano di internet e dei telefonini; i dialettismi; i termini stranieri.</p>

    <p>Chiunque pu&ograve; partecipare con interventi sotto la forma di: definizione linguistica, breve articolo esplicativo. &nbsp;</p>

    <p>Per ciascuna delle voci proposte &egrave; necessario fornire un esempio d&#39;uso e la localit&agrave; di provenienza, in modo di facilitare la comprensione a chi legge. &Egrave; importante anche suggerire sinonimi, contrari, <a href="http://www.treccani.it/enciclopedia/iponimo/">iponimi</a> ed<a href="http://www.treccani.it/enciclopedia/iperonimo/"> iperonimi</a>.</p>

    <p>Prima di ogni inserimento, la redazione si impegna a verificare la voce proposta sui dizionari di slang, quelli di italiano e sui repertori presenti in rete</p>

    <p>Le voci che inviate al sito, potranno essere modificate.</p>

    <p>Sono accettate voci sessiste e razziste quando&nbsp;&nbsp;testimoniano una realt&agrave; linguistica ma non sono accettate definizioni sessiste e razziste.</p>

    <p>Dal momento in cui una definizione &egrave; inviata a Brutta Storia, la sua propriet&agrave; &egrave; ceduta in via definitiva al sito (questo per evitare, a voi e a me, spiacevoli iniziative legali).</p>

    <p>Loris Righetto</p>

    <div align="center">
        <p><strong>Bibliografia</strong></p>

        <div align="left">
            <p>Ambrogio Renzo; Casaleggio Giovanni, Scrostati gaggio!, dizionario storico dei linguaggi giovanili, Utet, 2004, Torino.</p>

            <p>Michele Cortellazzo (a cura di), <a href="http://147.162.119.4/linguagiovani/">Lingua Giovani</a>, il &quot;sito di riferimento per chi si occupa di linguaggi giovanili in Italia&quot;.</p>

            <p>Butler Judith, Parole che provocano, per una politica del performativo, Raffaele Cortina editore, 2010, Milano.</p>

            <p>De Saussure Ferdinand, Corso di linguistica generale, 1916.</p>

            <p>Lakoff George; Johnson Mark, Metafore e vita quotidiana, Bompiani, 2004.</p>

            <p>&nbsp;</p>
        </div>

        <p><strong>Sitografia</strong></p>

        <p>Cortellazzo Michele,<a href="http://www.treccani.it/enciclopedia/linguaggio-giovanile_%28Enciclopedia_dell%27Italiano%29/"> Il linguaggio giovanile</a>, voce nell&#39;enciclopedia Treccani.</p>

        <p>Sabatini Alma, <a href="http://www.funzionepubblica.gov.it/media/962032/il%20sessismo%20nella%20lingua%20italiana.pdf">Il sessimo nella lingua italiana</a>, 1987.</p>

        <p>&nbsp;</p>

        <p><strong>Repertori</strong></p>

        <p>(me ne servo per lo pi&ugrave; per confrontare i significati proposti e per verificare la presenza di un termine)</p>

        <p>AA VV,<strong> </strong><a href="http://www.italysoft.com/curios/dizio-giovani/index.php">Dizio-giovani, </a>raccolta anonima in rete<strong> </strong>.</p>

        <p>Pellerano Fernando, Dizionario slang. Bologna in numeri e parole,&nbsp; Pendrangon, 2013.</p>

        <p><a href="http://boblog.corrieredibologna.corriere.it/2009/12/20/slang_bolognese_1a_puntata_a-b/">a cura di Fernando Pellerano, Slang bolognese</a>, sul Corriere della Sera.</p>

        <p><a href="http://www.internetslang.com/"><strong>Internetslang.com</strong></a></p>

        <p>Simonetti Maria (a cura di), <a href="http://temi.repubblica.it/espresso-slangopedia/">Slangopedia</a>, raccolta per il sito Repubblica.</p>
    </div>

    <p>10/07/14</p>

    <p><a href="http://creativecommons.org/licenses/by-nc-sa/2.5/it/" rel="license"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/2.5/it/88x31.png" style="border-width: 0pt;" /></a></p>

    <p><span href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type" xmlns:dc="http://purl.org/dc/elements/1.1/">Brutta Storia - Manuale di lingua e mitologia urbana</span> by <a href="http://www.bruttastoria.it" property="cc:attributionName" rel="cc:attributionURL" xmlns:cc="http://creativecommons.org/ns#">Brutta Storia</a> is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/it/" rel="license">Creative Commons Attribuzione-Non commerciale-Condividi allo stesso modo 2.5 Italia License</a>.</p>

    <p>Based on a work at <a href="http://www.bruttastoria.it" rel="dc:source" xmlns:dc="http://purl.org/dc/elements/1.1/">www.bruttastoria.it</a>.</p>

    <p>Permissions beyond the scope of this license may be available at <a href="http://www.bruttastoria.it" rel="cc:morePermissions" xmlns:cc="http://creativecommons.org/ns#">http://www.bruttastoria.it</a>.</p>

{% endblock %}
