{% extends "base.html.twig" %}

{% block title %}Segnalazione inviata{% endblock %}

{% block body %}
    <div class="well well-lg">La tua segnalazione è stata accettata ed è in attesa di essere approvata dalla Redazione</div>
{% endblock %}