{% extends 'base.html.twig' %}

{% block title %}Crea nuovo utente{% endblock %}

{% block body %}
    <h1>Crea nuovo utente</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-success" value="Crea">
    {{ form_end(form) }}

{% endblock %}